# Copyright 2024 Defense Unicorns
# SPDX-License-Identifier: AGPL-3.0-or-later OR LicenseRef-Defense-Unicorns-Commercial

tasks:
  - name: all
    actions:
      - task: health-check
      - task: custom-resource-test
      - task: ingress
      - task: ui

  # Ensure application deploys successfully and becomes available
  - name: health-check
    actions:
      - description: MetalLB Health Check
        wait:
          cluster:
            kind: Deployment
            name: metallb
            namespace: metallb
            condition: Available

  # If application manages custom resources, then test creating custom resources
  - name: custom-resource-test
    description: Test creating a custom resource
    actions:
      # Create test zarf package
      - cmd: |
          ./uds zarf package create --confirm
        dir: tests/optional-example-zarf-tests
      # Generate some kind of test data. In this example it is a certificate
      - cmd: |
          openssl req -x509 -newkey rsa:4096 -keyout testCA.key \
            -out testCA.pem -sha256 -days 3650 -nodes -subj "/C=XX/ST=StateName/L=CityName/O=CompanyName/OU=CompanySectionName/CN=CommonNameOrHostname"
        dir: tests/optional-example-zarf-tests
      # Deploy package with test data
      - cmd: |
          ./uds zarf package deploy \
            --set EXAMPLE_SECRET_VALUE="$(cat testCA.pem | base64 -w 0)" \
            zarf-package-example-zarf-tests-"${UDS_ARCH}"-0.1.2.tar.zst \
            --confirm
        dir: tests/optional-example-zarf-tests
      # Ensure expected resource is generated in some namespace. In this example it is checking for a configmap
      - description: Ensure configmap is created in target namespace
        wait:
          cluster:
            kind: configmap
            name: example-configmap
            namespace: example-ns
      # Cleanup files used to generate test data
      - cmd: |
          rm testCA.key testCA.pem
        dir: tests/optional-example-zarf-tests


